<h3 class="nickname"><%= @user.nickname %>のMyPage</h3>
<div class="header">
<%= link_to 'トップページへ(仮)', root_path %>
</div>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-reaction">いいね！(仮)</th>
      <td class="detail-value">番組表の表示</td>
      <td class="detail-memo">メモを書く</td>
    </tr>
    <tr>
      <th class="detail-reaction">いいね！(仮)</th>
      <td class="detail-value">番組表の表示</td>
      <td class="detail-memo">メモを書く</td>
    </tr>
    <tr>
      <th class="detail-reaction">いいね！(仮)</th>
      <td class="detail-value">番組表の表示</td>
      <td class="detail-memo">メモを書く</td>
    </tr>
    <tr>
      <th class="detail-reaction">いいね！(仮)</th>
      <td class="detail-value">番組表の表示</td>
      <td class="detail-memo">メモを書く</td>
    </tr>
    <tr>
      <th class="detail-reaction">いいね！(仮)</th>
      <td class="detail-value">番組表の表示</td>
      <td class="detail-memo">メモを書く</td>
    </tr>
  </tbody>
</table>