.header {
  margin:auto;
  width: 100%;
  height: 100px;
}

/* タイトル・ログイン・新規登録ボタン */
.title {
  text-align: center;
}

.lists-right {
  list-style: none;
  display: flex;
  font-size: 20px;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

/* 日付 */
.schedule {
  background-color: yellow;
  margin: auto;
  text-align: center;
  font-size: 30px;
  height: 40px;
}

/* ステージの場所・昼夜・出演者情報 */
.stage-info {
  background-color: pink;
  height: 430px;
}

#tabcontrol {
  background-color: skyblue;
  text-align: right;
  padding-right: 15px;
  height: 30px;
}

a {
  text-decoration: none;
  color: gray;
  font-size: 24px;
}

/* タブにマウスポインタが載ったとき */
#tabcontrol a:hover {
  text-decoration: underline;       /* 文字に下線を引く */
}

/* タブの中身・出演者一覧 */
.comedian {
  height: 400px;
  width: 100%;
  /* 昼夜の番組表を縦に並べる */
  display: flex;
  flex-direction: column;
}

/* 昼席の出演者 */
.comedian-day {
  background-color: gray;
  height: 200px;
  /* 縦書き表記 */
  writing-mode: vertical-rl;
  align-items: center;
  letter-spacing: 3px;
  line-height: 250%;
  font-size: 18px;
}

/* 夜席の出演者 */
.comedian-night {
  background-color: gainsboro;
  height: 200px;
  /* 縦書き表記 */
  writing-mode: vertical-rl;
  align-items: center;
  letter-spacing: 3pt;
  line-height: 250%;
  font-size: 18px;
}

/*いいねボタン  */
.like {
  font-size: 20px;
  background-color: white;
  color: black;
  margin-top: 150px;
}

/* 場所ごとの詳細情報 */
.info {
  background-color: blue;
  height: 1150px;
  width: 1450px;
  position: relative;
  margin: auto;
}

.calendar {
  background-color: whitesmoke;
  height: 710px;
  width: 850px;
  position: absolute;
  top: 0;
}

.map {
  background-color: orange;
  height: 450px;
  width: 850px;
  position: absolute;
  top: 710px;
}

.twitter {
  background-color: yellowgreen;
  height: 100%;
  width: 600px;
  position: absolute;
  left: 850px;
}
