/* ナビゲーションバー */
.navbar {
  height: 60px;
}

.logo-mini {
  padding-top: 3px;
}

.list-left p {
  padding-top: 15px;
  padding-left: 5px;
  font-size: 16px;
}

#menu {
  z-index: 20;
}

.nav-item .menu {
  color: white;
  font-size: 16px;
  margin-right: 10px;
  text-align: end;
}

/* カルーセル */
.copy-img {
  position : absolute;
  width: 40%;
  top: -10px;
  left: 12%;
}

.yose-img {
  width: 75%
}

/*-- 当日の日付表示 */
.schedule {
  height: 50px;
  width: 100%;
}

.today {
  text-align: center;
  font-size: 30px;
}

/* 演芸場タグ */
.theaters {
  height: 70px;
 }
 
 .nav-item .theater{
   margin: auto 20px auto 0;
   font-size: 18px;
 }
 
 .ueno {
   margin-right: 20px;
 }

/* 番組表 */
/* 芸名表示は縦書きの右寄りにする */
.yose-hiru {
  background-image: url('../images/washi.png');
}

.yose-yoru {
  background-image: url('../images/washi.png');
}

.text-box {
  text-align: center;
}

/* 番組表の中身 */
.comedians {
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  display: inline-block;
  height: 180px;
  overflow: scroll;
}

.comedians .yose-title{
 font-size: 22px;
 line-height: 10px;
}

.comedians .comedian-name {
  padding-right: 20px;
}

.event-info {
  font-size: 30px;
  padding: 0;
}

.wood {
  position: relative;
  margin-left: 5px;
}

.wood p {
  position: absolute;
  top: 16px;
  left: -5px;
  font-size: 18px;
  color: black;
}

.reaction-button {
  margin-right: 1px;
}

/* info */
.info {
  position: relative;
  height: 1000px;
}

/* calendar */
.calendar {
  height: 550px;
  width: 45%;
  margin-top: 25px;
  position: absolute;
  top: 0;
  left: 10%;
}

.calendar-text p {
  font-size: 11px;
  line-height: 1.5px;
}

/* MAP */
.map-in {
  height: 300px;
  width: 45%;
  margin-top: 10px;
  position: absolute;
  top: 0;
  left: 10%;
}

/* Twitter */
.twitter {
  width: 40%;
  position: absolute;
  top: -610px;
  left: 55%;
}