.nickname {
  text-align: center;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-reaction {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 60%;
  height: 200px;
  padding: 20px;
  border: 1px solid #dedede;
  /* 縦書き表記 */
  writing-mode: vertical-rl;
  letter-spacing: 3pt;
  line-height: 200%;
  font-size: 18px;
}

.detail-memo {
  width: 20%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}
